In [8]:
import pandas as pd
import os
import glob
import numpy as np

In [11]:
wddir = "d:/Projects/Tools/DayCent-CUTE/analysis/k-fold/"

In [12]:
md_dir = os.path.join(wddir, "DayCent_data")

In [17]:
obs_dir = os.path.join(wddir, "Obs")

In [18]:
os.chdir(md_dir)
md_list = next(os.walk('.'))[1]

In [19]:
os.chdir(obs_dir)
obs_files = glob.glob('*.csv')

In [20]:
md_list[0]

'Broadbalk'

In [21]:
def cov_obs_obd(obs_dir, md_dir, site_name):
    os.chdir(obs_dir)
    soc_df = pd.read_csv(f'soc_{site_name}.csv')
    soc_columns = soc_df.columns[1:].tolist()
    soc_df = soc_df.rename(columns={'Yr':'Year'})
    for i in soc_columns:
        soc_df = soc_df.rename(columns={i: f"{site_name}_{i}"})
    os.chdir(os.path.join(md_dir, site_name))
    soc_df.to_csv('soc_obd.csv', index=False)

In [22]:
for i in md_list:
    cov_obs_obd(obs_dir, md_dir, i)

In [23]:
md_list

['Broadbalk',
 'Brookings',
 'Dalhart',
 'Davis',
 'DixonSprings',
 'FivePoints',
 'FortCollins',
 'FortValley',
 'Goias',
 'Hoytville',
 'Ithaca2',
 'IthacaNE',
 'LethbridgeABC',
 'Lethbridge_manure',
 'Lexington',
 'Mandan',
 'Mead2',
 'NarrabriField6',
 'NarrabriFieldC1',
 'NarrabriFieldD1',
 'ORpegn',
 'Rodale',
 'Rosemount',
 'RussellRanch',
 'Saginaw',
 'SCharleston',
 'Sidney',
 'SwiftCurrent',
 'Tribune',
 'Wooster']

In [24]:
flags = np.random.choice([0, 1], size=(30,), p=[1./5, 4./5])

In [25]:
k_fold_df = pd.DataFrame({"sites": md_list, "select":flags})

In [26]:
k_fold_df

                sites  select
0           Broadbalk       1
1           Brookings       1
2             Dalhart       1
3               Davis       1
4        DixonSprings       1
5          FivePoints       1
6         FortCollins       1
7          FortValley       1
8               Goias       0
9           Hoytville       1
10            Ithaca2       1
11           IthacaNE       1
12      LethbridgeABC       1
13  Lethbridge_manure       0
14          Lexington       1
15             Mandan       1
16              Mead2       0
17     NarrabriField6       1
18    NarrabriFieldC1       1
19    NarrabriFieldD1       1
20             ORpegn       1
21             Rodale       0
22          Rosemount       1
23       RussellRanch       1
24            Saginaw       1
25        SCharleston       1
26             Sidney       0
27       SwiftCurrent       0
28            Tribune       1
29            Wooster       1