In [12]:
import pandas as pd
import os
import glob

In [5]:
wd = "d:/Projects/Tools/DayCent-CUTE/analysis/k-fold/"

In [7]:
md_dir = os.path.join(wd, "DayCent_data")

In [6]:
obs_dir = os.path.join(wd, "Obs")

In [16]:
os.chdir(md_dir)
md_list = next(os.walk('.'))[1]

In [19]:
os.chdir(obs_dir)
obs_files = glob.glob('*.csv')

In [22]:
md_list[0]

'Broadbalk'

In [32]:
def cov_obs_obd(site_name)
    soc_df = pd.read_csv(f'soc_{site_name}.csv')
    soc_columns = soc_df.columns[1:].tolist()
    soc_df = soc_df.rename(columns={'Yr':'Year'})
    for i in soc_columns:
        soc_df = soc_df.rename(columns={i: f"{site_name}_{i}"})
    soc_df.to_csv('soc_obd.csv', index=False)

In [33]:
soc_df

    Year  Broadbalk_0N  Broadbalk_FYM1843  Broadbalk_FYM1885  Broadbalk_N3PK
0   1843          3568               3568               3568            3568
1   1865          3568               6527               -999            -999
2   1881          3530               6772               -999            4534
3   1893          2966               7347               5297            4077
4   1914          3199               9056               7047            4343
5   1936          3390               7889               6753            -999
6   1944          3546               8135               6940            4343
7   1966          3156               8477               7405            4115
8   1987          3240               9159               7600            4267
9   1992          2772               8704               8672            4077
10  1997          2700               9516               8509            3924
11  2000          3096               9516               8737            4496
12  2005          2988               9711               8314            4001